<div class="container center_div">

<h2>Forgot your password ?</h2>
<%= form_with url: password_reset_path do |form| %>
  <div class="mb-3">
    <%= form.label :email, 'Email', class: "form-label" %>
    <%= form.text_field :email ,placeholder: "h@akdlksf.com" ,class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= form.submit 'Reset Password',class: "btn btn-primary" %>
  </div>
<% end %>
</div>