<% if resource.errors.any? %>
  <div id="error_explanation" class="text-red-500">
    <ul class="list-none p-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
