 <%# in form we have to use local false instead of remote true %>
<%= form_with model: @tweet, local: false, method: :post do |form| %>
  <%= form.text_area :body,id: "reply_body",class: "border-b-2 border-black  w-full resize-none rounded-md focus:shadow-none focus:border-none ring-0 focus:ring-0 focus:outline-none text-lg py-3 px-6 h-full min-h-[200px] ", placeholder: "What's on your mind?" %>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-96 h-20px  mx-12 -mt-12 ">
    <%= form.file_field :image, id: "image_f",  accept:"image/png, image/gif, image/jpeg", class: "block mb-5 w-10px text-xs text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %>
    <%= form.submit "Tweet", class: "px-6 mb-6 h-8 w-32 bg-sky-400 text-white font-semibold rounded-full text-center cursor-pointer inline-block hover:bg-sky-500 transition ease-in-out duration-300" %>
  </div>
</div>
<% end %>
