<p class="sticky top-0 z-50 ml-3">Home</p>
<div class="mb-8">
  <%= render "form" %>
</div>
<div class="flex flex-wrap", id="tweets">
  <% @tweets.each do |t| %>
    <%= render partial: "tweets/#{t.tweet_type.parameterize}", locals: { tweet: t } %>
  <% end %>
</div>
