<h2>Fetching Latest Tweets..</h2>
<%= link_to 'Back', :back %>

<table class="table table-hover">
  <thead class="thead-dark">
  <th>Tweet</th>
 <th>User ID</th>
 <th>Tweet Id</th>

  </thead>
  <tbody>
    <% @tweets.each do |t| %>
      <tr>
        <td>  <%= link_to t.body, tweet_path(t) , class:"p-2 bd-highlight"%>
            <td><%= t.user_id %></td>
             <td><%= t.id%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
