<!DOCTYPE html>
<html class="h-full antialiased">
  <%= render "shared/head" %>
  <body class="font-sans font-normal leading-normal text-blacl bg-white flex flex-col min-h-screen">
    <header>
      <%= render "shared/flash" %>
    </header>
    <main>
      <%= yield %>
      <br>
      <h1>11111111</h1>
    </main>
  </body>
</html>
